* {
    box-sizing: border-box;
  }
body {
    margin: 2rem;
}

.wrapper_princ{
width: 50%;

}

.form-input{
    color: #FFF;
    padding: 0 0 0 2.5rem;
    margin-bottom: 1rem;
    border: 3px solid rgb(0, 0, 0);
    position: relative;
    font-weight: 300;

}
.control-group {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
} 
.textarea-group {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

.check-group {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    width: 60%;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
}

textarea {
    width: 20rem;
    height: 10rem;;
}