doctype
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
        p hola mundo
        p Usando 
            b es 
            span chulito pero muy chulito
        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Alias maiores adipisci quod explicabo, quibusdam aperiam qui, provident, mollitia tempore eligendi ex molestias temporibus! Minima quia corporis nesciunt harum animi magnam.
        p Fuga, necessitatibus fugit et eum, possimus expedita nihil error illum similique mollitia hic? Explicabo quos rem repudiandae voluptatum quam similique? Totam incidunt asperiores neque quam maiores! Neque adipisci incidunt temporibus.
        p Cum eveniet optio id, odio quae at ipsam aut debitis maxime, harum consequatur eum excepturi modi ratione ab maiores recusandae cumque porro exercitationem voluptatum expedita alias saepe blanditiis. Sed, magni.
        p Id dignissimos et ab ducimus illum excepturi. Eos earum placeat, deserunt minus voluptatibus alias sint quis quam eveniet eius delectus voluptates necessitatibus hic consequuntur! Ipsa odit sed maxime hic illum?
        p Perferendis qui, accusantium nam quam pariatur magnam neque officia, enim doloremque at sunt eum? Quas animi eos dolorum accusamus quo! Nihil voluptatum provident voluptas cupiditate dolores qui reprehenderit, aliquam voluptatibus.